
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="starter-template.css" rel="stylesheet">

    <script src="http://getbootstrap.com/assets/js/ie-emulation-modes-warning.js"></script>

    <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
  </head>

  <body>

    
<br><br><br>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation"><br>
    <h4 style="vertical-align:bottom; color:white;">&nbsp;
      <%= link_to 'Home', 'home'%>&nbsp;
      <%= link_to 'My Activities', 'myactivities'%>&nbsp;
      <%= link_to 'Leaderboards', 'leader'%>&nbsp;
      <%= link_to 'Offers', 'offer'%>&nbsp;<br><br>
    </h5>
    
    </div><br>

    <div class="container">

      <div class="starter-template"> 


<h2>Add a completed achievement in this list of offers:</h2><hr>
 

 
  <% @offers.each do |offer| %>

  <% if offer.active %>

<p>
  <strong>Title:</strong>
  <%= offer.title %>
</p>
 
<p>
  <strong>Description:</strong>
  <%= offer.desc %>
</p>

<p>
  <strong>Offer ID:</strong>
  <%= offer.id %>
</p>

<p>
  <strong>BU:</strong>
  <%= offer.bu %>
</p>

<p>
  <strong>Points:</strong>
  <%= offer.points %>
</p>

<p>
  <strong>Activity:</strong>
  <%= offer.activity %>
</p>


<%= form_for :activity, url: activities_path do |f| %>  <p>
    <p><%= f.label :Date_Completed %><br>
    <%= f.date_field :activity %></p>
    <p><%= f.label :Account %><br>
    <%= f.text_field :account %></p>
  <%= f.hidden_field :desc , :value => offer.title %>
  <%= f.hidden_field :points , :value => offer.points %>
  <%= f.hidden_field :offerno , :value => offer.id %>

 
  <p>
    <%= f.submit %>
  </p>
<% end %>

<hr>

  <% end %>
  <% end %>


    </div>


    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
  </body>
</html>